<div class="container mt-4">
    <h1>No se encontró el producto con este ID</h1>
    <h3 class="mt-3">Lista de productos disponibles:</h3>
    <ul class="list-group">
        {{#each products}}
        <li class="list-group-item">
            <a href="/product/{{this.id}}">{{this.title}} (ID: {{this.id}})</a>
        </li>
        {{/each}}
    </ul>
    <div>
        <a href="/" class="btn btn-primary btn-block">Volver a Todos los Productos</a>
    </div>
</div>